* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.maincontainer {
    display: flex;
    flex-direction: row;
}

.filter {
    flex: 25%;
    padding: 20px;
    align-items: end;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 65%;
    margin-right: 10%;
}

.productbox {
    width: calc(25% - 20px);
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: left;
}

.productimage {
    max-width: 100%;
    height: auto;
}

.product p {
    margin-top: 5px;
}

.filter form {
    margin-bottom: 20px;
}

.filter h3 {
    margin-top: 0;
}

.link {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: black;
}

.containerbyid {
    max-height: auto;
    max-width: auto;
    display: flex;
    margin: 5%;
}

.productimageboxbyid {
    max-width: 50%;
    max-height: 100%;
}

.productimagebyid {
    max-width: 100%;
    max-height: 100%;
}

.productboxbyid {
    width: 50%;
    padding: 10px;
    margin-left: 10px;
}


@media (max-width: 768px) {
    .maincontainer {
        flex-direction: column;
    }

    .filter {
        flex: 0 0 100%;
    }

    .container {
        width: 100%;
        padding: 0 10px;
    }

    .productbox {
        width: calc(50% - 10px);
    }


    .containerbyid {
        display: flex;
        flex-wrap: wrap;
        margin: 5% 0;
        flex-direction: column;
        align-items: center;
    }

    .productimageboxbyid {
        width: 75%;
        max-width: 75%;
        max-height: auto;
    }

    .productimagebyid {
        width: 100%;
        max-width: 100%;
        max-height: auto;
    }

    .productboxbyid {
        width: 75%;
        padding: 10px;
        margin-left: 0;
        margin-bottom: 20px;

    }
}